.new_collection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap:10px; */
    height: 100%;
    margin: 0px auto;
    margin-left: 80px;
    /* margin-top: 80px; */
    /* text-align: center; */
    margin-bottom: 50px;
    
}
.new_collection h1{
    font-size: 40px;
    font-weight: 600;
    color: rgb(54, 53, 53);
    margin-top: 40px;
}
.new_collection hr{
    width: 200px;
    height: 10px;
    border-radius: 10px;
    background: rgb(11, 11, 11);
}
.collections{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
    gap: 20px;
}